<a href="https://colab.research.google.com/github/ashwini825/Python/blob/main/Exercise_on_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#exercise 1
# write a code for adding two complex numbers.
a= 5+6j
b= 7+4j
print("Sum of {0} and {1} is : ".format(a,b)+str(a+b))

Sum of (5+6j) and (7+4j) is : (12+10j)

In [ ]:
#exercise 2
#write a code to interchange the first and last item inside the list.
names=["padmavathi","Ravi","sandeep","rakesh","shoba","nikhil"]
temp=names[0]
names[0]=names[-1]
names[-1]=temp
print(names)

#another method using * operand
names=["padmavathi","Ravi","sandeep","rakesh","shoba","nikhil"]
start, *middle, end = names
names=end, *middle, start
print(names)

#using pop method
names=["padmavathi","Ravi","sandeep","rakesh","shoba","nikhil"]
first_name=names.pop(0)
last_name=names.pop()
names.insert(0, last_name)
names.append(first_name)
print(names)

['nikhil', 'Ravi', 'sandeep', 'rakesh', 'shoba', 'padmavathi']
('nikhil', 'Ravi', 'sandeep', 'rakesh', 'shoba', 'padmavathi')
['nikhil', 'Ravi', 'sandeep', 'rakesh', 'shoba', 'padmavathi']

In [ ]:
#exercise 3
#write a code to interchange any two item inside the list.
import random
names=["prema","mohan","smitha","shruthi","ashwini"]
print("List of names before swaping any two items: ",end=" ")
print(names)
random_number_1=random.randint(0,len(names))
print(random_number_1)
random_number_2=random.randint(0,len(names))
print(random_number_2)
if(random_number_1==random_number_2):
  random_number_2=random.randint(0,len(names))
  print(random_number_2)

item_1=names.pop(random_number_1)
print(item_1)
item_2=names.pop(random_number_2)
print(item_2)


names.insert(random_number_1,item_2)
print(names)
names.insert(random_number_2,item_1)
print("List of names after swaping any two items: ",end=" ")
print(names)

List of names before swaping any two items:  ['prema', 'mohan', 'smitha', 'shruthi', 'ashwini']
3
1
shruthi
mohan
['prema', 'smitha', 'ashwini', 'mohan']
List of names after swaping any two items:  ['prema', 'shruthi', 'smitha', 'ashwini', 'mohan']

In [ ]:
#reversing the names without reverse function
#Excersie 4
names_1=names.copy()
new_names=[]
for i in range(len(names)):
  new_names.append(names.pop())

#second method
print(names_1[::-1])

['padmavathi', 'shoba', 'rakesh', 'sandeep', 'Ravi', 'nikhil']

In [ ]:
#Exercise 5 Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old
age=int(input("Enter your age : "))
print("Your name is : "+input("Enter your name : ")+"\n")
print("your are "+str()+" years old")
print("In "+str((100-age))+" year you will turn to 100. ")

Enter your age : 56
Enter your name : Mohan
Your name is : Mohan

your are  years old
In 44 year you will turn to 100.

In [ ]:
#Exercise 6 Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user
# % symbol gives the reminder as zero
#checking the number is the multiple of 4
number=int(input("Enter a number to check whether its odd or even : "))
if(number%2==0):
  if(number%4==0):
    print("The number "+str(number)+" is multiple of 4. ")
  print("The number "+str(number)+" is even. ")
else:
  print("The number "+str(number)+" is odd. ")

Enter a number to check whether its odd or even : 64
The number 64 is multiple of 4.
The number 64 is even.

In [ ]:
#Exercise 7 write a program that prints out all the elements of the list that are less than 5.
lists=[]
number=int(input("Enter the number of items you need to add to check the how many numbers are below 5 : "))
for i in range(number):
  item=int(input("Enter the number: "))
  lists.append(item)

print(lists)
new_list_less_than_five=[]
for j in range(lists-1):
  if(lists[j]<5):
    new_list_less_than_five.append(lists[j])

print(new_list_less_than_five)

Enter the number of items you need to add to check the how many numbers are below 5 : 3
Enter the number: 2
Enter the number: 7
Enter the number: 8
[2, 7, 8]

TypeError: ignored

In [ ]:
969
lists

[5, 5, 5, 5, 5]